RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
<IfModule mod_security.c>
   # Turn off mod_security filtering.
   SecFilterEngine Off

   SecFilterScanPOST Off
</IfModule>